@model ProductViewModel

@if (Model is not null){
    <form asp-antiforgery="true" asp-controller="Product" asp-action="Update" method="post">
        <div class="validation" asp-validation-summary="All"></div>
        <div>
            <input asp-for="Id" hidden/>
            <input asp-for="Created" hidden />
            <div>
                <label asp-for="Name">Введите название</label><br />
                <input type="text" asp-for="Name" />
            </div>
            <div>
                <label asp-for="Description">Введите описание</label><br />
                <input type="text" asp-for="Description" />
            </div>
            <div>
                <label asp-for="Count">Введите количество</label><br />
                <input type="number" asp-for="Count" />
            </div>
            <div>
                <label asp-for="StartOfSales">Введите дату старта продаж</label><br />
                <input asp-for="StartOfSales"/>
            </div>
            <div>
                <input type="submit" value="Обновить" />
            </div>
        </div>
    </form>
}
else
{
    <p>Данный продукт невозможно обновить.</p>
}